<section class="hp-posts mb-5">
  <div class="container">
    <h3 class="h3 mb-3">DALŠÍ ZPRÁVY</h3>
    <div class="row g-4 mb-4">
      <div class="col-xl-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-sm-6">
        <a href="#" class="post">
          <div class="post__img">
            <img
              src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
              loading="lazy"
              alt="post"
            />
            <div class="tag tag--primary">NOVINKY</div>
          </div>
          <div class="post__info">
            <div class="post__date">16. 2. 2024</div>
            <h3 class="h4">
              ZÁLOŽNÍK JAN KOPIC PRODLOUŽIL SVŮJ KONTRAKT S KLUBEM AŽ DO LÉTA
              KONTRAKT S KLUBEM AŽ DO LÉTA 2025
            </h3>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
    </div>
    <a href="#" class="tag tag--primary mx-auto">ARCHIV ČLÁNKŮ</a>
  </div>
</section>
