<section class="hp-posts mb-5">
  <div class="container">
    <h3 class="h3 mb-3">DALŠÍ ZPRÁVY</h3>
    <div class="row g-4 mb-4">
      <div class="col-xl-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
    </div>
    <a href="#" class="tag tag--primary mx-auto">ARCHIV ČLÁNKŮ</a>
  </div>
</section>
