<section class="hp-video mb-5">
  <div class="container">
    <h3 class="h3 mb-3 text-white">VIDEA</h3>
    <div class="row g-4">
      <div class="col-lg-4">
        <div
          onclick="changeVideo('FFdHkN9FGPU?si=X7-WYjoSO8lCyNrr')"
          class="hp-video__item"
        >
          <div class="hp-video__img">
            <iframe
              width="365"
              height="205"
              src="https://www.youtube.com/embed/SVSnJIgd0xM"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              data-cookiecategory="social"
            ></iframe>
          </div>
          <p>Olympionici budou nosit novou značku oblečení</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div
          onclick="changeVideo('eAqMXP-9Fxc?si=F2NBQgckymVxuIva')"
          class="hp-video__item"
        >
          <div class="hp-video__img">
            <iframe
              width="365"
              height="205"
              src="https://www.youtube.com/embed/SVSnJIgd0xM"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              data-cookiecategory="social"
            ></iframe>
          </div>
          <p>Rekord na 100m dokázala zdolat česká sportovkyně</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          onclick="changeVideo('FXz8wfvl7B4?si=lrUDF-w0rR-G7Bpw')"
          class="hp-video__item"
        >
          <div class="hp-video__img">
            <iframe
              width="365"
              height="205"
              src="https://www.youtube.com/embed/SVSnJIgd0xM"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              data-cookiecategory="social"
            ></iframe>
          </div>
          <p>Jak nejlépe cvičit a zhubnout do plavek?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="videoModal">
  <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <iframe
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            id="iframeYoutube"
            src="https://www.youtube.com/embed/e80BbX05D7Y"
            frameborder="0"
          ></iframe>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            zavřít
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var currentVideo;

  function changeVideo(vId) {
    var iframe = document.getElementById("iframeYoutube");
    iframe.src = "https://www.youtube.com/embed/" + vId + "&mute=1";

    currentVideo = iframe;

    var myModal = new bootstrap.Modal(document.getElementById("myModal"));
    myModal.show();
  }

  // Добавляем обработчик события при закрытии модального окна
  var myModalElement = document.getElementById("myModal");
  myModalElement.addEventListener("hidden.bs.modal", function () {
    // Останавливаем воспроизведение видео
    if (currentVideo) {
      currentVideo.contentWindow.postMessage(
        '{"event":"command","func":"stopVideo","args":""}',
        "*"
      );
    }
  });
</script>
