<section class="static-section">
  <div class="container">
    <div class="row g-4 mb-5">
      <div class="col-xl-8">
        <div class="article-section__inner">
          <div class="o-content">
            <h1>Title h1</h1>
            <div class="perex">
              Těžký boj má za sebou Koubkova družina. V závěru nakonec rozhodl
              Tomáš Chorý. Na pozápasové tiskové konferenci odpovídal na otázky
              novinářů Miroslav Koubek.
            </div>
            <h2>Title h2</h2>
            <p>
              Tomáš Chorý už své kvality předvedl na posledním reprezentačním
              srazu, kdy se zapsal mezi střelce a byl jedním z těch, kteří se
              zasloužili o vítězství proti Moldavsku. Vůbec poprvé ale zamíří do
              seniorského výběru, který řídí Ivan Hašek, dvojice Pavel Šulc a
              Robin Hranáč.
            </p>
            <h3>Title h3</h3>
            <ul>
              <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
              <li>
                Eu turpis posuere semper feugiat volutpat elit, ultrices
                suspendisse. Auctor vel in vitae placerat.
              </li>
              <li>
                <a href="#">Suspendisse maecenas ac donec scelerisque</a> diam
                sed est duis purus.
              </li>
            </ul>
            <p>
              „Mám obrovskou radost! Je to pro mě čest dostat pozvánku do
              národního týmu a obléct poprvé dres s lvíčkem na seniorské
              úrovni,“ říká po nominaci Pavel Šulc.
            </p>
            <p>
              „Nečekal jsem to, ale udělalo mi to obrovskou radost. Je to další
              meta, které jsem chtěl v kariéře dosáhnout. Reprezentovat svou
              zemi je vždycky něco speciálního. Každý mladý kluk o tom sní,"
              dodal Robin Hranáč.
            </p>
            <p>
              <img
                src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
                loading="lazy"
                alt=""
              />
            </p>
            <p>
              22. března se utká Česká fotbalová reprezentace v Oslu proti
              výběru Norska, 26. března poté vyzve český nároďák v epet ARÉNĚ
              Arménii.
            </p>
            <q>
              <p>
                “Přímé přenosy jsou pro fanoušky biatlonu připraveny jako každý
                rok na sportovním kanálu České televize ČT Sport. Stejně tak je
                možné na ČT Sport všechny závody zhlédnout zpětně ze záznamu.”
              </p>
              <span>— Anežka Němcová, Česká televize</span>
            </q>
            <p>
              Mezi náhradníky se poté nachází další šestice viktoriánů! Mezi
              nimi jsou Martin Jedlička, Václav Jemelka, Lukáš Červ, Lukáš
              Kalvach, Jan Kopic a Matěj Vydra.
            </p>
            <p>
              Sampsona Dweha a jeho Libérii čeká předkolo kvalifikace Afrického
              poháru národu proti Džibutsku. První utkání sehrají 20. března a
              odveta je naplánovaná na 26. března.
            </p>
            <ol>
              <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
              <li>
                Eu turpis posuere semper feugiat volutpat elit, ultrices
                suspendisse. Auctor vel in vitae placerat.
              </li>
              <li>
                Suspendisse maecenas ac donec scelerisque diam sed est duis
                purus.
              </li>
            </ol>
            <p>
              Mezi náhradníky se poté nachází další šestice viktoriánů! Mezi
              nimi jsou Martin Jedlička, Václav Jemelka, Lukáš Červ, Lukáš
              Kalvach, Jan Kopic a Matěj Vydra.
            </p>
            <p>
              Sampsona Dweha a jeho Libérii čeká předkolo kvalifikace Afrického
              poháru národu proti Džibutsku. První utkání sehrají 20. března a
              odveta je naplánovaná na 26. března.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <aside class="aside">
          <div class="aside__menu">
            <h2 class="h2">HISTORIE</h2>
            <ul class="">
              <li>
                <a href="#" class="active">ARCHIV ČLÁNKŮ</a>
              </li>
              <li>
                <a href="#">fotogalerie</a>
              </li>
              <li>
                <a href="#">Z historie</a>
              </li>
              <li>
                <a href="#">Bilance sezón</a>
              </li>
              <li>
                <a href="#">Hvězdy Vysočiny</a>
              </li>
              <li>
                <a href="#">Bývalí trenéři</a>
              </li>
            </ul>
          </div>
          <div class="aside__menu">
            <h2 class="h2">A-tým</h2>
            <ul>
              <li>
                <a href="#" class="active">SOUPISKA</a>
              </li>
              <li>
                <a href="#">TRENÉŘI</a>
              </li>
              <li>
                <a href="#">REALIZAČNÍ TÝM</a>
              </li>
              <li>
                <a href="#">INDIVIDUÁLNÍ STATISTIKY</a>
              </li>
              <li>
                <a href="#">PŘÍCHODY / ODCHODY</a>
              </li>
            </ul>
          </div>
          {% include "@components/post/post.twig" %}
        </aside>
      </div>
    </div>
  </div>
</section>
