<section class="partnersSlider">
  <div class="container">
    <div class="partnersSlider__inner row">
      <a href="http://www.muhb.cz/" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/1.JPG?508939837"
          height="64"
          alt=""
      /></a>
      <a href="https://agenturasport.cz/" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/2.png?1084596877"
          height="64"
          alt=""
      /></a>
      <a href="https://facr.fotbal.cz/" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/4.jpeg?1636939894"
          height="64"
          alt=""
      /></a>
      <a href="http://www.riotsweb.com/" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/7.jpg?1490799955"
          height="64"
          alt=""
      /></a>
      <a href="https://www.amylon.cz/" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/6.png?668704468"
          height="64"
          alt=""
      /></a>
      <a href="https://www.hbrebel.cz/" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/8.png?762961366"
          height="64"
          alt=""
      /></a>
      <a href="http://www.coophb.cz/" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/16.png?724277314"
          height="64"
          alt=""
      /></a>
      <a href="http://www.sport-saller.de" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/9.png?2025294935"
          height="64"
          alt=""
      /></a>
      <a
        href="https://akademiefacr.cz/jihlava/"
        target="_blank"
        class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/10.jpg?448708753"
          height="64"
          alt=""
      /></a>
      <a href="https://www.cuscz.cz/" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/5.png?1099437038"
          height="64"
          alt=""
      /></a>
      <a
        href="https://www.kr-vysocina.cz/intro.asp"
        target="_blank"
        class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/3.jpg?747871300"
          height="64"
          alt=""
      /></a>
      <a href="http://www.jipotr.cz/" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/17.jpg?940411423"
          height="64"
          alt=""
      /></a>
      <a href="https://www.fcvysocina.cz/" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/12.png?1191045679"
          height="64"
          alt=""
      /></a>
      <a href="https://www.slavia.cz/" target="_blank" class="col-auto"
        ><img
          src="https://fcslovanhb.esports.cz/adds/db_partners/logos/11.png?116929416"
          height="64"
          alt=""
      /></a>
    </div>
  </div>
</section>
