<section class="calendarSlider mb-5">
  <div class="container">
    <h3 class="h3 mb-3">HISTORICKÝ KALENDÁŘ</h3>
  </div>
  <div class="calendarSlider__inner" id="calendar-js" data-initialslider="10">
    {% include "@components/post/post.twig" %} {% include
    "@components/post/post.twig" %} {% include "@components/post/post.twig" %}
    {% include "@components/post/post.twig" %} {% include
    "@components/post/post.twig" %} {% include "@components/post/post.twig" %}
    {% include "@components/post/post.twig" %} {% include
    "@components/post/post.twig" %} {% include "@components/post/post.twig" %}
    {% include "@components/post/post.twig" %} {% include
    "@components/post/post.twig" %} {% include "@components/post/post.twig" %}
    {% include "@components/post/post.twig" %}
  </div>
</section>
