<section class="hp-posts mb-5">
  <div class="container">
    <h3 class="h3 mb-3">FOTOGALERIE</h3>
    <div class="row g-4 mb-4">
      <div class="col-xl-3 col-sm-6">
        <a
          href="#"
          class="post"
          data-source="/sk-kladno/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <div class="post__img">
            <img
              src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
              loading="lazy"
              alt="post"
            />
          </div>
          <div class="post__info">
            <h3 class="h4">
              ZÁLOŽNÍK JAN KOPIC PRODLOUŽIL SVŮJ KONTRAKT S KLUBEM AŽ DO LÉTA
            </h3>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-sm-6">
        <a
          href="#"
          class="post"
          data-source="/sk-kladno/build/ajax-gallery.json"
          data-gallery-id="2"
        >
          <div class="post__img">
            <img
              src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
              loading="lazy"
              alt="post"
            />
          </div>
          <div class="post__info">
            <h3 class="h4">
              ZÁLOŽNÍK JAN KOPIC PRODLOUŽIL SVŮJ KONTRAKT S KLUBEM AŽ DO LÉTA
            </h3>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-sm-6">
        <a
          href="#"
          class="post"
          data-source="/sk-kladno/build/ajax-gallery.json"
          data-gallery-id="3"
        >
          <div class="post__img">
            <img
              src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
              loading="lazy"
              alt="post"
            />
          </div>
          <div class="post__info">
            <h3 class="h4">
              ZÁLOŽNÍK JAN KOPIC PRODLOUŽIL SVŮJ KONTRAKT S KLUBEM AŽ DO LÉTA
            </h3>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-sm-6">
        <a
          href="#"
          class="post"
          data-source="/sk-kladno/build/ajax-gallery.json"
          data-gallery-id="4"
        >
          <div class="post__img">
            <img
              src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
              loading="lazy"
              alt="post"
            />
          </div>
          <div class="post__info">
            <h3 class="h4">
              ZÁLOŽNÍK JAN KOPIC PRODLOUŽIL SVŮJ KONTRAKT S KLUBEM AŽ DO LÉTA
            </h3>
          </div>
        </a>
      </div>
    </div>
    <a href="#" class="tag tag--primary mx-auto">galerie</a>
  </div>
</section>
