.article-section {
  &__gallery-item {
    position: relative;
    display: block;
    aspect-ratio: 240/140;
    span {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: rgba(#69be0a, 0.6);
      color: var(--color-light);
      font-weight: 700;
      font-size: 32px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__bottom {
    display: flex;
    border-top: 1px solid var(--color-primary);
    margin-top: 32px;
    padding-top: 24px;
    justify-content: space-between;
    align-items: center;
  }
  .topstory__item {
    aspect-ratio: 1920/940;
    @include media-breakpoint-down(lg) {
      aspect-ratio: 750/750;
    }
  }
  .topstory__title {
    @include media-breakpoint-down(md) {
      font-size: 1.7rem;
    }
  }
  .topstory__content {
    margin-bottom: 0;
  }
  &__inner {
    background-color: var(--color-light);
    padding: 32px;
    @include media-breakpoint-down(lg) {
      padding: 24px;
    }
  }
}

.articleAuthor__links {
  display: flex;
  align-items: center;
  gap: 8px;
  .social-share,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s;
  }
}
#copyLink {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border: 1px solid var(--color-primary);
  box-shadow: 0px 1px 2px 0px #1018280d;
  border-radius: 8px;
  height: 40px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  gap: 8px;
  color: var(--color-light);
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--color-primary);
  text-decoration: underline;
  text-decoration-color: transparent;
  &:hover {
    text-decoration-color: inherit;
  }
  svg {
    width: 17px;
    height: 17px;
    display: block;
  }
}
.article-photogallery {
  margin-top: 40px;
  a {
    display: block;
    aspect-ratio: 220/140;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    span {
      position: absolute;
      left: 0;
      right: 0;
      color: var(--color-light);
      border-radius: 4px;
      background-color: rgba(#69be0a, 0.698645);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 1;
      color: var(--color-light);
      font-size: 2.5rem;
      font-weight: 900;
      text-align: center;
      line-height: 24px;
      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
