<section class="article-section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-xl-8">
        <div class="topstory__item">
          <img
            src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
            loading="lazy"
            alt=""
          />
          <div class="topstory__box">
            <div class="topstory__content">
              <ul class="topstory__tags mb-0">
                <li>
                  <div class="tag">2. 9. 2021</div>
                </li>
                <li>
                  <div class="tag tag--primary">Olomouc vs. Hradec Králové</div>
                </li>
                <li>
                  <div class="tag">Autor fotografie: Anežka Němcová</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="article-section__inner mb-4">
          <h1 class="h1 mb-3">
            René Piegl po návratu domů: Jsem strašně rád za zápas strašně rád za
            zápas
          </h1>
          <div class="o-content">
            <div class="perex">
              Těžký boj má za sebou Koubkova družina. V závěru nakonec rozhodl
              Tomáš Chorý. Na pozápasové tiskové konferenci odpovídal na otázky
              novinářů Miroslav Koubek.
            </div>
            <h2>Title h2</h2>
            <p>
              Tomáš Chorý už své kvality předvedl na posledním reprezentačním
              srazu, kdy se zapsal mezi střelce a byl jedním z těch, kteří se
              zasloužili o vítězství proti Moldavsku. Vůbec poprvé ale zamíří do
              seniorského výběru, který řídí Ivan Hašek, dvojice Pavel Šulc a
              Robin Hranáč.
            </p>
            <h3>Title h3</h3>
            <ul>
              <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
              <li>
                Eu turpis posuere semper feugiat volutpat elit, ultrices
                suspendisse. Auctor vel in vitae placerat.
              </li>
              <li>
                <a href="#">Suspendisse maecenas ac donec scelerisque</a> diam
                sed est duis purus.
              </li>
            </ul>
            <p>
              „Mám obrovskou radost! Je to pro mě čest dostat pozvánku do
              národního týmu a obléct poprvé dres s lvíčkem na seniorské
              úrovni,“ říká po nominaci Pavel Šulc.
            </p>
            <p>
              „Nečekal jsem to, ale udělalo mi to obrovskou radost. Je to další
              meta, které jsem chtěl v kariéře dosáhnout. Reprezentovat svou
              zemi je vždycky něco speciálního. Každý mladý kluk o tom sní,"
              dodal Robin Hranáč.
            </p>
            <p>
              <img
                src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
                loading="lazy"
                alt=""
              />
            </p>
            <p>
              22. března se utká Česká fotbalová reprezentace v Oslu proti
              výběru Norska, 26. března poté vyzve český nároďák v epet ARÉNĚ
              Arménii.
            </p>
            <q>
              <p>
                “Přímé přenosy jsou pro fanoušky biatlonu připraveny jako každý
                rok na sportovním kanálu České televize ČT Sport. Stejně tak je
                možné na ČT Sport všechny závody zhlédnout zpětně ze záznamu.”
              </p>
              <span>— Anežka Němcová, Česká televize</span>
            </q>
            <p>
              Mezi náhradníky se poté nachází další šestice viktoriánů! Mezi
              nimi jsou Martin Jedlička, Václav Jemelka, Lukáš Červ, Lukáš
              Kalvach, Jan Kopic a Matěj Vydra.
            </p>
            <p>
              Sampsona Dweha a jeho Libérii čeká předkolo kvalifikace Afrického
              poháru národu proti Džibutsku. První utkání sehrají 20. března a
              odveta je naplánovaná na 26. března.
            </p>
            <ol>
              <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
              <li>
                Eu turpis posuere semper feugiat volutpat elit, ultrices
                suspendisse. Auctor vel in vitae placerat.
              </li>
              <li>
                Suspendisse maecenas ac donec scelerisque diam sed est duis
                purus.
              </li>
            </ol>
            <p>
              Mezi náhradníky se poté nachází další šestice viktoriánů! Mezi
              nimi jsou Martin Jedlička, Václav Jemelka, Lukáš Červ, Lukáš
              Kalvach, Jan Kopic a Matěj Vydra.
            </p>
            <p>
              Sampsona Dweha a jeho Libérii čeká předkolo kvalifikace Afrického
              poháru národu proti Džibutsku. První utkání sehrají 20. března a
              odveta je naplánovaná na 26. března.
            </p>
            <p><strong>Autor článku:</strong> Anežka Němcová</p>
          </div>
          <div class="article-photogallery">
            <div class="h3 mb-3">Fotogalerie</div>
            <div class="row g-4">
              <div class="col-md-3 col-6">
                <a
                  class="article-photogallery__item"
                  href="#"
                  data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                  data-gallery-id="2"
                >
                  <img
                    src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </div>
              <div class="col-md-3 col-6">
                <a
                  class="article-photogallery__item"
                  href="#"
                  data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                  data-gallery-id="2"
                >
                  <img
                    src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </div>
              <div class="col-md-3 col-6">
                <a
                  class="article-photogallery__item"
                  href="#"
                  data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                  data-gallery-id="2"
                >
                  <img
                    src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </div>
              <div class="col-md-3 col-6">
                <a
                  class="article-photogallery__item"
                  href="#"
                  data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                  data-gallery-id="2"
                >
                  <img
                    src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                    loading="lazy"
                    alt=""
                  />
                  <span>+16</span>
                </a>
              </div>
            </div>
          </div>

          <div class="article-section__bottom">
            <ul class="articleAuthor__links">
              <li>
                <div class="social-share twitter">
                  {% include "@images/x.svg" %}
                </div>
              </li>
              <li>
                <div class="social-share facebook">
                  {% include "@images/fb-2.svg" %}
                </div>
              </li>
              <li>
                <div class="social-share linkedin">
                  {% include "@images/in.svg" %}
                </div>
              </li>
            </ul>
            <div id="copyLink" data-link="https://esportsmedia.cz/">
              {% include "@images/copyLink.svg" %} Click me to copy link
            </div>
          </div>
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              var copyLinkButton = document.getElementById("copyLink");

              if (copyLinkButton) {
                copyLinkButton.addEventListener("click", function () {
                  var linkToCopy = this.getAttribute("data-link");
                  var textarea = document.createElement("textarea");
                  textarea.value = linkToCopy;
                  document.body.appendChild(textarea);
                  textarea.select();
                  textarea.setSelectionRange(0, 99999);
                  document.execCommand("copy");
                  document.body.removeChild(textarea);
                });
              } else {
                console.error("Element with id 'copyLink' not found.");
              }
            });
          </script>
        </div>
      </div>
      <div class="col-xl-4">
        <aside class="aside">
          <h2 class="h2 mt-4 mb-3">Další články</h2>

          <div class="d-flex flex-column gap-4">
            {% include "@components/post/post.twig" %}{% include
            "@components/post/post.twig" %} {% include
            "@components/post/post.twig" %} {% include
            "@components/post/post.twig" %}
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
