<section class="match-section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-12">
        <div class="topstory__item">
          <img
            src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
            loading="lazy"
            alt=""
          />
          <div class="topstory__box">
            <div class="topstory__content">
              <ul class="topstory__tags">
                <li>
                  <div class="tag">2. 9. 2021</div>
                </li>
                <li>
                  <div class="tag tag--primary">Olomouc vs. Hradec Králové</div>
                </li>
              </ul>
              <h1 class="topstory__title">
                René Piegl po návratu domů: Jsem strašně rád za zápas strašně
                rád za zápas
              </h1>
            </div>
          </div>
        </div>
        <div class="row row-margin match-section__box">
            <div class="col-md-3 d-md-block d-none">
               <i class="fa fa-futbol-o"></i> 55. Daněk</br><i class="fa fa-futbol-o"></i> 72. Kalvach (vla.)</br>
            </div>
            <div class="col-md-6">
               <p class="match-section__head hidden-mobile">
                  <strong>
                     23. kolo
                  </strong>
                  / Sobota 2. 3. 2024, 18:00 / CFIG Arena
               </p>
               <p class="match-section__head hidden-desktop">
                  <strong>
                                 23. kolo
                  </strong>/ Sobota 2. 3. 2024, 18:00 <br> CFIG Arena
               </p>
               <div class="match-section__score mt-4">
                  <div class="col-sm-4 match-section__team">
                     <img src="https://fcviktoria.cz/znaky/2014/big/PAR.png">
                     <p class="font-bold-18">
                        <span class="hidden-mobile">FK Pardubice</span>
                     </p>
                  </div>
                  <div class="col-sm-4 match-section__result">
                     <p class="font-bold-60">2:3</p>
                     <p class="font-bold-18">(0:1)</p>
                  </div>
                  <div class="col-sm-4 match-section__team">
                     <img src="https://fcviktoria.cz/znaky/2014/big/PLZ.png">
                     <p class="font-bold-18">
                        <span class="hidden-mobile">FC Viktoria Plzeň</span>
                     </p>
                  </div>
               </div>
            </div>
         <div class="col-md-3 d-md-block d-none">
            42. Kalvach <i class="fa fa-futbol-o"></i></br>47. Šulc <i class="fa fa-futbol-o"></i></br>49. Šulc <i class="fa fa-futbol-o"></i></br>
         </div>
      </div>
      </div>
      <div class="col-xl-8 col-md-10 mx-auto">
        <div class="article-section__inner mb-4 match-section__statistics">
          <div class="o-content">
           <h2>
            SESTAVY
           </h2>

           <h3>FK PARDUBICE</h3>
           <p>
            Budinský – Icha, Halinský, Ortíz, Chlumecký – Solil, Vacek (C) (63. Darmovzal), Kissiedou (78. Mareš) – Daněk – Krobot (17. Surzyn, 78. Tischler), Zlatohlávek (63. Černý).
           </p>

           <h3>
            FC VIKTORIA PLZEŇ
           </h3>
           <p>
            Jedlička – Hranáč, Dweh, Jemelka – Mosquera (62. Sýkora), Kalvach (C), Kopic, Červ (62. Valenta), Souaré – Šulc (90+2. Traoré), Chorý (62. Vydra).
           </p>

           <h2>
            STATISTIKY
           </h2>
           <p>
            <strong>Branky:</strong> 55. Daněk, 72. Kalvach (vla.) – 42. Kalvach, 47. Šulc, 49. Šulc
           </p>
           <p>
           <strong> ŽK:</strong> 45+3. Chorý, 50. Jemelka, 82. Sýkora
           </p>
           <p>
            <strong>ČK:</strong> 6. Halinský
           </p>
           <p>
            <strong>Rozhodčí:</strong> Machálek – Caletka, Dohnálek
           </p>
            <p>
               <strong>Střely na bránu:</strong> 2 - 9
            </p>
            <p>
               <strong>Střely mimo:</strong> 2 - 8
            </p>
            <p>
               <strong>Rohy:</strong> 2 - 13
            </p>
            <p>
               <strong>Ofsajdy:</strong> 1 - 2
            </p>
            <p>
               <strong>Fauly:</strong> 10 - 13
            </p>
            <p>
              <strong> Diváci:</strong> 3849
            </p>
         
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-md-10 mx-auto mb-4">
         <div class="article-section__inner mb-4">
           <div class="o-content">
           <div class="perex">
            Viktoria v rámci 23. kola FORTUNA:LIGY poprvé vyrazila na hřiště v Pardubicích.
           </div>
           <p>
            Hned v první minutě byl do hry zapojen videorozhodčí. Denis Halinský totiž nepěkně zajel do Pavla Šulce, hlavní rozhodčí celou situaci zkoumal právě pomocí VARu a nakonec vytáhl kartu červené barvy. Pardubice tak od úvodní minuty dohrávaly v deseti hráčích. Obrovskou šanci si vytvořili v patnácté minutě hráči Viktorie. Odražený míč si na rohu malého vápna našel Jan Kopic, který z první vyslal tvrdou ránu, kterou však trefil jen domácího brankáře.
           </p>
           <p>
            Viktoriáni si nadále snažili vytvářet tlak a drželi míč na svých kopačkách, žádná větší šance však nepřicházela. To se změnilo čtyři minuty před koncem. Přízemní střela Lukáše Kalvacha zaskočila domácího brankáře Budínského, který míč nezachytil a mezi jeho nohami prošel až za brankovou čáru. Do kabin šla Viktoria s jednobrankovým náskokem.
           </p>
          <p>
            Úvod prvního poločasu přinesl velkou gólovou podívanou. Ve 47. minutě se opřel do nůžek Lukáš Červ, jeho střelu těsně před brankářem tečoval Pavel Šulc a míč propadl do brány. O dvě minuty později poslal do šestnáctky Jhon Mosquera centr, na který naskočil nikým nehlídaný Pavel Šulc a dnes se už podruhé prosadil.
          </p>
          <p>
            Za pět minut se prosadili také domácí. Ránou zpoza pokutového území propálil Kryštof Daněk bezmocného Martina Jedličku. V sedmdesáté první minutě už to bylo jen o gól. Po rohovém kopu se znovu prosadil Kryštof Daněk.
          </p>
          <p>
            Deset minut před koncem se Plzeňští dostali do obrovské šance. Nejdříve pálil do brankové konstrukce Sampson Dweh a následně Pavel Šulc, který se snažil dorážet, trefil pouze břevno. Žádný další gól v zápase už nepadl a Viktoria odváží z Pardubic vítězství 3:2.
          </p>
           </div>
           <div class="article-section__bottom">
             <ul class="articleAuthor__links">
               <li>
                 <div class="social-share twitter">
                   {% include "@images/x.svg" %}
                 </div>
               </li>
               <li>
                 <div class="social-share facebook">
                   {% include "@images/fb-2.svg" %}
                 </div>
               </li>
               <li>
                 <div class="social-share linkedin">
                   {% include "@images/in.svg" %}
                 </div>
               </li>
             </ul>
             <div id="copyLink" data-link="https://esportsmedia.cz/">
               {% include "@images/copyLink.svg" %} Click me to copy link
             </div>
           </div>
           <script>
             document.addEventListener("DOMContentLoaded", function () {
               var copyLinkButton = document.getElementById("copyLink");
 
               if (copyLinkButton) {
                 copyLinkButton.addEventListener("click", function () {
                   var linkToCopy = this.getAttribute("data-link");
                   var textarea = document.createElement("textarea");
                   textarea.value = linkToCopy;
                   document.body.appendChild(textarea);
                   textarea.select();
                   textarea.setSelectionRange(0, 99999);
                   document.execCommand("copy");
                   document.body.removeChild(textarea);
                 });
               } else {
                 console.error("Element with id 'copyLink' not found.");
               }
             });
           </script>
         </div>
         <div class="article-section__inner">
            <h5 class="h3 mb-3">
               Fotogalerie
            </h5>
            <div class="article-section__gallery row g-2">
               <div class="col-lg-3 col-6">
                  <a   data-source="/sk-kladno/build/ajax-gallery.json"
                  data-gallery-id="2" href="#" class="article-section__gallery-item">
                     <img
                        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
                        loading="lazy"
                        alt=""
                     />
                  </a>
               </div>
               <div class="col-lg-3 col-6">
                  <a   data-source="/sk-kladno/build/ajax-gallery.json"
                  data-gallery-id="2" href="#" class="article-section__gallery-item">
                     <img
                        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
                        loading="lazy"
                        alt=""
                     />
                  </a>
               </div>
               <div class="col-lg-3 col-6">
                  <a   data-source="/sk-kladno/build/ajax-gallery.json"
                  data-gallery-id="2" href="#" class="article-section__gallery-item">
                     <img
                        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
                        loading="lazy"
                        alt=""
                     />
                  </a>
               </div>
               <div class="col-lg-3 col-6">
                  <a   data-source="/sk-kladno/build/ajax-gallery.json"
                  data-gallery-id="2" href="#" class="article-section__gallery-item">
                  <span>+14</span>
                     <img
                        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
                        loading="lazy"
                        alt=""
                     />
                  </a>
               </div>
            </div>
         </div>
       </div>
    </div>
  </div>
</section>
