.aside {
  &__menu {
    background-color: var(--color-light);
    margin-bottom: 24px;
    padding: 24px;
    .h2 {
      margin-bottom: 8px;
    }
    ul {
      li {
        border-bottom: 1px solid var(--color-primary);
      }
      a {
        font-weight: 500;
        font-size: 18px;
        padding: 8px 0;
        display: block;
        text-decoration-color: transparent;
        &:hover {
          color: var(--color-primary);
          font-weight: 600;
          //  text-decoration-color: inherit;
        }
      }
    }
  }
  .post__img {
    aspect-ratio: 16/10;
  }
}
