.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
.o-content h1,
.h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.175;

  @include media-breakpoint-down(md) {
    font-size: 32px;
  }
}
.h2,
.o-content h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}
.h3,
.o-content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}
.h4,
.o-content h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}
.h6,
.o-content h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
