<ul class="social">
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/facebook-w.svg" %}
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/instagram-w.svg" %}
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/tiktok-w.svg" %}
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/youtube-w.svg" %}
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/twitter-w.svg" %}
    </a>
  </li>
</ul>
