<section class="calendar">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-auto">
        <div class="calendar__content">
          <h1 class="h1 mb-4">Historie</h1>
          <div class="calendar__navigation">
            <a href="#" title="">
              {% include "@images/chevron-left-solid.svg" %}
            </a>
            <span>11. března</span>
            <a href="#" title="">
              {% include "@images/chevron-right-solid.svg" %}
            </a>
          </div>
          <div class="row gy-4 mb-lg-5 mb-2">
            <div class="col-12">
              <article class="post-width">
                <div class="row g-lg-5 g-0">
                  <div class="col-lg-6">
                    <a href="#" class="post__img">
                      <img
                        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17082856210344-173-img-8561.jpg"
                        alt=""
                      />
                      <span class="tag tag--primary">Novinky</span>
                    </a>
                  </div>
                  <div class="col-lg-6">
                    <div class="post-width__info">
                      <div class="post__date">neděle 11. 3. 1900</div>
                      <h2 class="h2">
                        <a href="#">
                          Jedenáct branek do sítě berlínského Helgolandu
                        </a>
                      </h2>
                      <p>
                        11. března 1900 hrála Slavia v Praze mezinárodní
                        přátelské utkání s týmem Berliner Thor und FC Helgoland.
                        Slávisté soupeře přestříleli 11:2. Sestava vítězů: K.
                        Vosátka – Strimpl, Macoun – Pressler, Hrabě, Kryž –
                        Baumruk, Setzer-Bloomer, Zámostný, Stöckel a Kindel.
                        Čtyři branky vstřelil Kindel, tři branky Zámostný, dvě
                        Stöckel, a po jedné si připsali Sezter-Bloomer a
                        Baumruk.
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="post-width">
                <div class="row g-lg-5 g-0">
                  <div class="col-lg-6">
                    <a href="#" class="post__img">
                      <img
                        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17082856210344-173-img-8561.jpg"
                        alt=""
                      />
                      <span class="tag tag--primary">Historie</span>
                    </a>
                  </div>
                  <div class="col-lg-6">
                    <div class="post-width__info">
                      <div class="post__date">neděle 11. 3. 1900</div>
                      <h2 class="h2">
                        <a href="#">
                          Jedenáct branek do sítě berlínského Helgolandu
                        </a>
                      </h2>
                      <p>
                        11. března 1900 hrála Slavia v Praze mezinárodní
                        přátelské utkání s týmem Berliner Thor und FC Helgoland.
                        Slávisté soupeře přestříleli 11:2. Sestava vítězů: K.
                        Vosátka – Strimpl, Macoun – Pressler, Hrabě, Kryž –
                        Baumruk, Setzer-Bloomer, Zámostný, Stöckel a Kindel.
                        Čtyři branky vstřelil Kindel, tři branky Zámostný, dvě
                        Stöckel, a po jedné si připsali Sezter-Bloomer a
                        Baumruk.
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="post-width">
                <div class="row g-lg-5 g-0">
                  <div class="col-lg-6">
                    <a href="#" class="post__img">
                      <img
                        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17082856210344-173-img-8561.jpg"
                        alt=""
                      />
                      <span class="tag tag--primary">Historie</span>
                    </a>
                  </div>
                  <div class="col-lg-6">
                    <div class="post-width__info">
                      <div class="post__date">neděle 11. 3. 1900</div>
                      <h2 class="h2">
                        <a href="#">
                          Jedenáct branek do sítě berlínského Helgolandu
                        </a>
                      </h2>
                      <p>
                        11. března 1900 hrála Slavia v Praze mezinárodní
                        přátelské utkání s týmem Berliner Thor und FC Helgoland.
                        Slávisté soupeře přestříleli 11:2. Sestava vítězů: K.
                        Vosátka – Strimpl, Macoun – Pressler, Hrabě, Kryž –
                        Baumruk, Setzer-Bloomer, Zámostný, Stöckel a Kindel.
                        Čtyři branky vstřelil Kindel, tři branky Zámostný, dvě
                        Stöckel, a po jedné si připsali Sezter-Bloomer a
                        Baumruk.
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12">
              <article class="post-width">
                <div class="row g-lg-5 g-0">
                  <div class="col-lg-6">
                    <a href="#" class="post__img">
                      <img
                        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17082856210344-173-img-8561.jpg"
                        alt=""
                      />
                      <span class="tag tag--primary">Historie </span>
                    </a>
                  </div>
                  <div class="col-lg-6">
                    <div class="post-width__info">
                      <div class="post__date">neděle 11. 3. 1900</div>
                      <h2 class="h2">
                        <a href="#">
                          Jedenáct branek do sítě berlínského Helgolandu
                        </a>
                      </h2>
                      <p>
                        11. března 1900 hrála Slavia v Praze mezinárodní
                        přátelské utkání s týmem Berliner Thor und FC Helgoland.
                        Slávisté soupeře přestříleli 11:2. Sestava vítězů: K.
                        Vosátka – Strimpl, Macoun – Pressler, Hrabě, Kryž –
                        Baumruk, Setzer-Bloomer, Zámostný, Stöckel a Kindel.
                        Čtyři branky vstřelil Kindel, tři branky Zámostný, dvě
                        Stöckel, a po jedné si připsali Sezter-Bloomer a
                        Baumruk.
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <nav aria-label="Další stránky">
            <ul
              class="pagination d-flex flex-wrap pagination-flat pagination-success"
            >
              <li class="page-item active">
                <a class="page-link" href="#" data-abc="true">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true"> »</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
