<section class="hp-statistics mb-5">
  <div class="container">
    <h3 class="h3 mb-3 text-uppercase">Statistiky krajského přeboru</h3>
    <div class="row g-4 mb-4">
      <div class="col-xl-3 col-sm-6">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title">STŘELCI ODEHRANÉ</div>
          <a href="#" class="hp-statistics__name">
            Peter
            <span>Čerešňák</span>
          </a>
          <div class="hp-statistics__club">
            <img
              src="https://mfkchrudim.esports.cz/files/logos/pribram.png"
              width="24"
              class="mr-1"
            />
            FK Příbram
          </div>
          <div class="hp-statistics__score">
            <a href="#">20</a>
            <!-- <span> gólů </span> -->
          </div>
          <table>
            <tbody>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title">ZÁPASY</div>
          <a href="#" class="hp-statistics__name">
            Peter
            <span>Čerešňák</span>
          </a>
          <div class="hp-statistics__club">
            <img
              src="https://mfkchrudim.esports.cz/files/logos/pribram.png"
              width="24"
              class="mr-1"
            />
            FK Příbram
          </div>
          <div class="hp-statistics__score">
            <a href="#"> 29</a>
            <!-- <span> Asistencí </span> -->
          </div>
          <table>
            <tbody>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title">ŽLUTÉ KARTY</div>
          <a href="#" class="hp-statistics__name">
            Peter
            <span>Čerešňák</span>
          </a>
          <div class="hp-statistics__club">
            <img
              src="https://mfkchrudim.esports.cz/files/logos/pribram.png"
              width="24"
              class="mr-1"
            />
            FK Příbram
          </div>
          <div class="hp-statistics__score">
            <a href="#">32</a>
            <!-- <span> bodů </span> -->
          </div>
          <table>
            <tbody>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title">ČERVENÉ KARTY</div>
          <a href="#" class="hp-statistics__name">
            Peter
            <span>Čerešňák</span>
          </a>
          <div class="hp-statistics__club">
            <img
              src="https://mfkchrudim.esports.cz/files/logos/pribram.png"
              width="24"
              class="mr-1"
            />
            FK Příbram
          </div>
          <div class="hp-statistics__score">
            <a href="#">3</a>
            <!-- <span> úspěšnost zásahů </span> -->
          </div>
          <table>
            <tbody>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Peter Čerešňák</td>
                <td>18</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
