<section class="hp-statistics mb-5">
  <div class="container">
    <h3 class="h3 mb-3">KLUBOVÍ LÍDŘI</h3>
    <div class="row g-4 mb-4">
      <div class="col-xl-3 col-sm-6">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title">Nejlepší střelec</div>
          <a href="#" class="hp-statistics__name">
            Peter
            <span>Čerešňák</span>
          </a>
          <div class="hp-statistics__score">
            <a href="#">20</a>
            <span> gólů </span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title">NEJLEPší nahrávač</div>
          <a href="#" class="hp-statistics__name">
            Peter
            <span>Čerešňák</span>
          </a>
          <div class="hp-statistics__score">
            <a href="#"> 29</a>
            <span> Asistencí </span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title">NEJLEPší V PLUS/MíNUS</div>
          <a href="#" class="hp-statistics__name">
            Peter
            <span>Čerešňák</span>
          </a>
          <div class="hp-statistics__score">
            <a href="#">32</a>
            <span> bodů </span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title">NEJLEPší BRANKář</div>
          <a href="#" class="hp-statistics__name">
            Peter
            <span>Čerešňák</span>
          </a>
          <div class="hp-statistics__score">
            <a href="#">99.999%</a>
            <span> úspěšnost zásahů </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
