<section class="table-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="table-section__inner">
          <h1 class="h1 mb-4">Tabulka Fortuna:Ligy 2024/2025</h1>
          <div class="header-section">
            <div class="row gy-3 align-items-center">
              <div class="col-xl-3 col-sm-4">
                <label class="o-select header-section__label">
                  <div class="header-section__category">Soutěž:</div>
                  <select class="js-select">
                    <option>Český pohár</option>
                    <option>Český pohár</option>
                    <option>Český pohár</option>
                    <option>Český pohár</option>
                  </select>
                </label>
              </div>
              <div class="col-lg-3 col-sm-4">
                <label class="o-select header-section__label">
                  <div class="header-section__category">Sezona:</div>
                  <select class="js-select">
                    <option>FORTUNA:LIGA 2023/2024</option>
                    <option>FORTUNA:LIGA 2022/2023</option>
                    <option>FORTUNA:LIGA 2021/2022</option>
                    <option>FORTUNA:LIGA 2020/2021</option>
                    <option>FORTUNA:LIGA 2019/2020</option>
                    <option>FORTUNA:LIGA 2018/2019</option>
                  </select>
                </label>
              </div>
              <div class="col-xl-2 col-sm-4">
                <label class="o-select header-section__label">
                  <div class="header-section__category">Zobrazit:</div>
                  <select class="js-select">
                    <option>Celková</option>
                    <option>Doma</option>
                    <option>Venku</option>
                  </select>
                </label>
              </div>
            </div>
          </div>
          <div class="o-content">
            <div class="hp-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>P.</th>
                    <th class="team">Tým</th>
                    <th>Z</th>
                    <th>V</th>
                    <th>R</th>
                    <th>P</th>
                    <th>B</th>
                    <th>Skóre</th>
                    <th>RG</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="font-weight-bold">2.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        width="24"
                        class="mr-1"
                      />
                      MFK Vyškov
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">3.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://mfkchrudim.esports.cz/files/logos/logo_taborsk.png"
                        width="24"
                        class="mr-1"
                      />
                      FC SILON Táborsko
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">4.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://mfkchrudim.esports.cz/files/logos/vlasim.png"
                        width="24"
                        class="mr-1"
                      />
                      FC Sellier &amp; Bellot Vlašim
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                  <tr class="CHR">
                    <td class="font-weight-bold">5.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://mfkchrudim.esports.cz/files/logos/logo_fotbal_cr-01 (2).png"
                        width="24"
                        class="mr-1"
                      />
                      MFK Chrudim
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">3.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://mfkchrudim.esports.cz/files/logos/logo_taborsk.png"
                        width="24"
                        class="mr-1"
                      />
                      FC SILON Táborsko
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">6.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://mfkchrudim.esports.cz/files/logos/pribram.png"
                        width="24"
                        class="mr-1"
                      />
                      FK Příbram
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">6.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://mfkchrudim.esports.cz/files/logos/pribram.png"
                        width="24"
                        class="mr-1"
                      />
                      FK Příbram
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">6.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://mfkchrudim.esports.cz/files/logos/pribram.png"
                        width="24"
                        class="mr-1"
                      />
                      FK Příbram
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">6.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://mfkchrudim.esports.cz/files/logos/pribram.png"
                        width="24"
                        class="mr-1"
                      />
                      FK Příbram
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">7.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://mfkchrudim.esports.cz/files/logos/lisen_logo.png"
                        width="24"
                        class="mr-1"
                      />
                      SK Líšeň 2019
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">2.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        width="24"
                        class="mr-1"
                      />
                      MFK Vyškov
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">8.</td>
                    <td class="text-nowrap team">
                      <img
                        src="https://mfkchrudim.esports.cz/files/logos/bno.png"
                        width="24"
                        class="mr-1"
                      />
                      FC Zbrojovka Brno
                    </td>
                    <td>9</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                    <td>20</td>
                    <td>34:22</td>
                    <td>36</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h2>Legenda tabulky</h2>
            <p><strong>P</strong> - Pořadí</p>
            <p><strong>Z</strong> - Zápasy</p>
            <p><strong>V</strong> - Výhry</p>
            <p><strong>R</strong> - Remízy</p>
            <p><strong>P</strong> - Prohry</p>
            <p><strong>Skóre</strong> - vstřelené góly: obdržené góly</p>
            <p><strong>RG</strong> - Rozdíl gólů</p>
            <p><strong>B</strong> - Body</p>
            <p><strong>+/-</strong> - plus/mínus (tabulka pravdy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
