<div class="container-fluid scoreboard-container col-xs-12">
  <div class="content scoreboard">
    <div class="scoreboard__carousel" data-active="9">
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__item__box">
          <div class="scoreboard__item__team">VLA - ZIZ</div>
          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
              />
            </div>
            <div class="scoreboard__logo">
              <img
                class=""
                src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
              />
            </div>
          </div>
          <div class="scoreboard__item__info">pá 18:00</div>
          <div class="scoreboard__item__date">05. 04. 2024</div>
        </div>
      </div>
    </div>
  </div>
  <!--/.scoreboard-->
</div>
<!--/.scoreboard-container-->
