<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a href="#" class="footer__logo">
        <img src="images/content/logo.png" loading="lazy" alt="logo" />
      </a>
      <nav class="navbar">
        <ul class="navbar__menu">
          <li class="navbar__menu-list">
            <a class="navbar__menu-item" href="/article">Články</a>
          </li>
          <li class="navbar__menu-list">
            <a class="navbar__menu-item" href="/vysledky">Výsledky</a>
          </li>
          <li class="navbar__menu-list">
            <a class="navbar__menu-item" href="/tabulky">Tabulky</a>
          </li>
          <li class="navbar__menu-list">
            <a class="navbar__menu-item" href="/article/?category=1"
              >Rozhovory</a
            >
          </li>
          <li class="navbar__menu-list">
            <a class="navbar__menu-item" href="/fotogalerie">Fotogalerie</a>
          </li>
          <li class="navbar__menu-list">
            <a class="navbar__menu-item" href="/mistri-kraje">Mistři kraje</a>
          </li>
          <li class="navbar__menu-list">
            <a class="navbar__menu-item" href="/article/?category=2"
              >Historie</a
            >
          </li>
          <li class="navbar__menu-list">
            <a
              class="navbar__menu-item"
              href="https://www.youtube.com/@jihoceskyfotbaltv3873"
              target="_blank"
              >JF TV</a
            >
          </li>
          <li class="navbar__menu-list">
            <a class="navbar__menu-item" href="/zimni-priprava-2024"
              >Zimní příprava 2024</a
            >
          </li>
          <li class="navbar__menu-list">
            <a class="navbar__menu-item" href="/article/?category=3"
              >Letní kemp</a
            >
          </li>
          <li class="navbar__menu-list">
            <a class="navbar__menu-item" href="/nase-projekty">Naše projekty</a>
          </li>
        </ul>
      </nav>
      <div
        class="d-flex justify-content-center align-items-center px-lg-10 flex-wrap"
      >
        {% include "@components/social/social.twig" %}
        <ul class="footer__links">
          <li>
            <a href="#">Kontakty</a>
          </li>
          <li>
            <a href="#">Podmínky použití webu</a>
          </li>
          <li>
            <a href="#">Ochrana soukromí</a>
          </li>
        </ul>
        <button id="scrollToTopBtn">
          {% include "@images/arrow-up.svg" %}
        </button>
      </div>
      <p class="p2 copyright">
        © Jihočeský fotbal - All rights reserved &

        <a target="_blank" href="https://esportsmedia.cz/">eSports s.r.o.</a>
      </p>
    </div>
  </div>
</footer>
