<section class="boardSection mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="boardSection__gallery">
          <h3 class="h3 mb-3">FOTOGALERIE</h3>
          <div class="boardSection__slider">
            <a
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="2"
              href="#"
              class="boardGallery__item"
            >
              <img
                src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17082856210344-173-img-8561.jpg"
                loading="lazy"
                alt=""
              />
              <div class="boardGallery__box">
                <div class="boardGallery__content">
                  <h3 class="boardGallery__title">
                    René Piegl po návratu domů: Jsem strašně rád za zápas
                  </h3>
                  <div class="tag tag--primary">zobrazit fotky</div>
                </div>
              </div>
            </a>
            <a
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="3"
              href="#"
              class="boardGallery__item"
            >
              <img
                src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
                loading="lazy"
                alt=""
              />
              <div class="boardGallery__box">
                <div class="boardGallery__content">
                  <h3 class="boardGallery__title">
                    René Piegl po návratu domů: Jsem strašně rád za zápas
                    strašně rád za zápas
                  </h3>
                  <div class="tag tag--primary">zobrazit fotky</div>
                </div>
              </div>
            </a>
            <a
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="1"
              href="#"
              class="boardGallery__item"
            >
              <img
                src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
                loading="lazy"
                alt=""
              />
              <div class="boardGallery__box">
                <div class="boardGallery__content">
                  <h3 class="boardGallery__title">René Piegl po návratu</h3>
                  <div class="tag tag--primary">zobrazit fotky</div>
                </div>
              </div>
            </a>
            <a
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="5"
              href="#"
              class="boardGallery__item"
            >
              <img
                src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080781394683-173-dsc04393.jpg"
                loading="lazy"
                alt=""
              />
              <div class="boardGallery__box">
                <div class="boardGallery__content">
                  <h3 class="boardGallery__title">
                    René Piegl po návratu domů: Jsem strašně rád za zápas po
                    návratu domů: Jsem strašně rád za zápas
                  </h3>
                  <div class="tag tag--primary">zobrazit fotky</div>
                </div>
              </div>
            </a>
          </div>
          <a href="#" class="tag tag--primary mx-auto">galerie</a>
        </div>
      </div>
      <div class="col-lg-4">
        <h3 class="mb-2 h3">Tabulka ligy</h3>
        <div class="hp-table">
          <table class="table">
            <tr>
              <td class="font-weight-bold">2.</td>
              <td class="text-nowrap">
                <img
                  src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                  width="24"
                  class="mr-1"
                />
                MFK Vyškov
              </td>
              <td>20</td>
              <td>34:22</td>
              <td>36</td>
            </tr>
            <tr>
              <td class="font-weight-bold">3.</td>
              <td class="text-nowrap">
                <img
                  src="https://mfkchrudim.esports.cz/files/logos/logo_taborsk.png"
                  width="24"
                  class="mr-1"
                />
                FC SILON Táborsko
              </td>
              <td>20</td>
              <td>24:18</td>
              <td>32</td>
            </tr>
            <tr>
              <td class="font-weight-bold">4.</td>
              <td class="text-nowrap">
                <img
                  src="https://mfkchrudim.esports.cz/files/logos/vlasim.png"
                  width="24"
                  class="mr-1"
                />
                FC Sellier &amp; Bellot Vlašim
              </td>
              <td>20</td>
              <td>25:21</td>
              <td>30</td>
            </tr>
            <tr class="CHR">
              <td class="font-weight-bold">5.</td>
              <td class="text-nowrap">
                <img
                  src="https://mfkchrudim.esports.cz/files/logos/logo_fotbal_cr-01 (2).png"
                  width="24"
                  class="mr-1"
                />
                MFK Chrudim
              </td>
              <td>20</td>
              <td>35:32</td>
              <td>30</td>
            </tr>
            <tr>
              <td class="font-weight-bold">3.</td>
              <td class="text-nowrap">
                <img
                  src="https://mfkchrudim.esports.cz/files/logos/logo_taborsk.png"
                  width="24"
                  class="mr-1"
                />
                FC SILON Táborsko
              </td>
              <td>20</td>
              <td>24:18</td>
              <td>32</td>
            </tr>
            <tr>
              <td class="font-weight-bold">6.</td>
              <td class="text-nowrap">
                <img
                  src="https://mfkchrudim.esports.cz/files/logos/pribram.png"
                  width="24"
                  class="mr-1"
                />
                FK Příbram
              </td>
              <td>20</td>
              <td>21:23</td>
              <td>29</td>
            </tr>
            <tr>
              <td class="font-weight-bold">7.</td>
              <td class="text-nowrap">
                <img
                  src="https://mfkchrudim.esports.cz/files/logos/lisen_logo.png"
                  width="24"
                  class="mr-1"
                />
                SK Líšeň 2019
              </td>
              <td>20</td>
              <td>22:22</td>
              <td>28</td>
            </tr>
            <tr>
              <td class="font-weight-bold">2.</td>
              <td class="text-nowrap">
                <img
                  src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                  width="24"
                  class="mr-1"
                />
                MFK Vyškov
              </td>
              <td>20</td>
              <td>34:22</td>
              <td>36</td>
            </tr>
            <tr>
              <td class="font-weight-bold">8.</td>
              <td class="text-nowrap">
                <img
                  src="https://mfkchrudim.esports.cz/files/logos/bno.png"
                  width="24"
                  class="mr-1"
                />
                FC Zbrojovka Brno
              </td>
              <td>20</td>
              <td>28:26</td>
              <td>27</td>
            </tr>
          </table>
        </div>
        <div class="text-center">
          <a href="#" class="tag tag--primary mx-auto">Kompletní tabulka</a>
        </div>
      </div>
    </div>
  </div>
</section>
