<article class="post-width">
  <div class="row g-lg-5 g-0">
    <div class="col-lg-6">
      <a href="#" class="post__img">
        <img
          src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17082856210344-173-img-8561.jpg"
          alt=""
        />
        <span class="tag tag--primary">Novinky</span>
      </a>
    </div>
    <div class="col-lg-6">
      <div class="post-width__info">
        <div class="d-flex align-content-center flex-wrap">
          <div class="post__date">18 : 00</div>

          <div class="post__date">16. 2. 2024</div>
        </div>
        <h2 class="h2">
          <a href="#">
            Vysočina se v dramatické bitvě musela spokojit s bodem
          </a>
        </h2>
        <div class="fw-semibold p1">Author článku</div>
      </div>
    </div>
  </div>
</article>
