<a href="#" class="post">
  <div class="post__img">
    <img
      src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
      loading="lazy"
      alt="post"
    />
    <div class="tag tag--primary">NOVINKY</div>
  </div>
  <div class="post__info">
    <div class="d-flex align-content-center flex-wrap">
      <div class="post__date">18 : 00</div>

      <div class="post__date">16. 2. 2024</div>
    </div>

    <h3 class="h4">
      GENERÁLKA PŘED EXTRALIGOU! NA HANOU ZAVÍTÁ HRADEC KRÁLOVÉ
    </h3>
    <div class="fw-medium mt-1 text-light">Author článku</div>
  </div>
</a>
