{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %} 
{% include "@components/scoreboard/scoreboard.twig" %}
{% include "@components/topstory-section/topstory-section.twig" %}
<div class="my-4">
  <div class="container">
    <a class="pub" href="#" target="_blank">
      <img src="images/content/bb.png" loading="lazy" alt="" />
    </a>
  </div>
</div>
{% include "@components/hp-posts/hp-posts.twig" %} {% include
"@components/hp-statistics/hp-statistics.twig" %} {% include
"@components/boardSection/boardSection.twig" %} {% include
"@components/hp-video/hp-video.twig" %} {% include
"@components/calendarSlider/calendarSlider.twig" %} {% endblock %}
