{% extends "@components/base/base.twig" %} {% set title = "03.0_article" %} {%
block main %} {% include "@components/article-section/article-section.twig" %}
<div class="mt-4">{% include "@components/hp-posts/hp-posts.twig" %}</div>
{% endblock %}
