{% extends "@components/base/base.twig" %} {% set title = "06.0_games" %} {%
block main %} {% include "@components/games-section/games-section.twig" %}
<div class="mt-4">{% include "@components/hp-posts/hp-posts.twig" %}</div>
{% endblock %}
