{% extends "@components/base/base.twig" %} {% set title = "05.0_static" %} {%
block main %}

<section class="static-section">
  <div class="container">
    <div class="row g-4 mb-5">
      <div class="col-lg-10 mx-auto">
        <div class="article-section__inner">
          <h1 class="h1">Vyhledávání</h1>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
