<section class="games-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="games-section__inner">
          <h1 class="h1 mb-4">FORTUNA:LIGA 2023/2024</h1>
          <div class="header-section">
            <div class="row gy-3 align-items-center">
              <div class="col-xl-3 col-sm-4">
                <label class="o-select header-section__label">
                  <div class="header-section__category">Soutěž:</div>
                  <select class="js-select">
                    <option>Český pohár</option>
                    <option>Český pohár</option>
                    <option>Český pohár</option>
                    <option>Český pohár</option>
                  </select>
                </label>
              </div>
              <div class="col-lg-3 col-sm-4">
                <label class="o-select header-section__label">
                  <div class="header-section__category">Sezona:</div>
                  <select class="js-select">
                    <option>FORTUNA:LIGA 2023/2024</option>
                    <option>FORTUNA:LIGA 2022/2023</option>
                    <option>FORTUNA:LIGA 2021/2022</option>
                    <option>FORTUNA:LIGA 2020/2021</option>
                    <option>FORTUNA:LIGA 2019/2020</option>
                    <option>FORTUNA:LIGA 2018/2019</option>
                  </select>
                </label>
              </div>
              <div class="col-xl-2 col-sm-4">
                <label class="o-select header-section__label">
                  <div class="header-section__category">Zobrazit:</div>
                  <select class="js-select">
                    <option>Všechny zápasy</option>
                    <option>Domácí zápasy</option>
                    <option>Venkovní zápasy</option>
                  </select>
                </label>
              </div>
              <div class="col-xl-4">
                <div class="games__tabs">
                  <div class="header-section__category">Zápasy:</div>
                  <ul class="games__tabs-menu nav nav-tabs">
                    <li>
                      <a href="#upcoming" data-toggle="tab" class="active"
                        >Nadcházející</a
                      >
                    </li>
                    <li>
                      <a href="#done" data-toggle="tab">Odehrané</a>
                    </li>
                    <li>
                      <a href="#all" data-toggle="tab">Všechny</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content">
            <div class="tab-pane in active" id="upcoming">
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="" href="#"> 15:00 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="" href="#"> 15:00 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="" href="#"> 15:00 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="" href="#"> 15:00 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="" href="#"> 15:00 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="done">
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="lose" href="#"> 1:2 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">REPORTÁŽ</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Ohlasy</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="win" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">REPORTÁŽ</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="win" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="lose" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">REPORTÁŽ</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="win" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="lose" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="all">
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="lose" href="#"> 1:2 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">REPORTÁŽ</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Ohlasy</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="win" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">REPORTÁŽ</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="win" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="lose" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">REPORTÁŽ</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="win" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="lose" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="" href="#"> 15:00 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="" href="#"> 15:00 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="" href="#"> 15:00 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="" href="#"> 15:00 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="win" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="win" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="win" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="win" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="games__row row">
                <div class="col-lg-3">
                  <p class="text-uppercase">
                    <span class="fw-bold text-uppercase"> 22. kolo </span><br />
                    <span class="">Sobota 24. 2. 2024&nbsp; 18:00</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="games__score">
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PAR.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Trinity Zlín</strong>
                      </p>
                    </div>
                    <div class="games__result">
                      <a class="win" href="#"> 3:0 </a>
                    </div>
                    <div class="games__team">
                      <div class="games__logo">
                        <img
                          class=""
                          src="https://fcviktoria.cz/znaky/2014/big/PLZ.png"
                        />
                      </div>
                      <p class="p1">
                        <strong>FC Viktoria Plzeň</strong>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <ul class="games__links">
                    <li>
                      <a href="#" class="tag tag--primary">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
