<section class="c-topstory-section">
  <div class="topstory">
    <div id="topstory_image_1" class="topstory__image on">
      <img
        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17082856210344-173-img-8561.jpg"
        loading="lazy"
        alt=""
      />
    </div>
    <div id="topstory_image_2" class="topstory__image">
      <img
        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
        loading="lazy"
        alt=""
      />
    </div>
    <div id="topstory_image_3" class="topstory__image">
      <img
        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080781394683-173-dsc04393.jpg"
        loading="lazy"
        alt=""
      />
    </div>
    <div id="topstory_image_4" class="topstory__image">
      <img
        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
        loading="lazy"
        alt=""
      />
    </div>

    <div class="topstory__bcg"></div>
    <div class="topstory__content" data-topstory_current="1">
      <div class="h-100 container container--no-padding">
        <div class="row h-100">
          <div class="col-12 col-lg-7 col-xl-8">
            <div class="h-100 row align-items-end">
              <div class="col-12">
                <div id="topstory_content_1" class="topstory_content on">
                  <ul class="topstory_content-tags">
                    <li>
                      <div class="tag">2. 9. 2021</div>
                    </li>
                    <li>
                      <div class="tag tag--primary">
                        Olomouc vs. Hradec Králové
                      </div>
                    </li>
                  </ul>
                  <h1>
                    <a href="#"
                      >Generálka před extraligou! Na Hanou zavítá Hradec
                      Králové</a
                    >
                  </h1>
                </div>
                <div id="topstory_content_2" class="topstory_content">
                  <div class="topstory__image">
                    <img
                      src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <ul class="topstory_content-tags">
                    <li>
                      <div class="tag">2. 9. 2021</div>
                    </li>
                    <li>
                      <div class="tag tag--primary">
                        Olomouc vs. Hradec Králové
                      </div>
                    </li>
                  </ul>
                  <h1>
                    <a href="#"
                      >Junioři vyzvou loňské medailisty, devítku čeká náročný
                      víkend</a
                    >
                  </h1>
                </div>
                <div id="topstory_content_3" class="topstory_content">
                  <ul class="topstory_content-tags">
                    <li>
                      <div class="tag">2. 9. 2021</div>
                    </li>
                    <li>
                      <div class="tag tag--primary">
                        Olomouc vs. Hradec Králové
                      </div>
                    </li>
                  </ul>
                  <h1>
                    <a href="#"
                      >Úlet s Rytíři? Hrozná houpačka, ví Aleš Jergl. V obrat
                      věřil</a
                    >
                  </h1>
                </div>
                <div id="topstory_content_4" class="topstory_content">
                  <ul class="topstory_content-tags">
                    <li>
                      <div class="tag">2. 9. 2021</div>
                    </li>
                    <li>
                      <div class="tag tag--primary">
                        Olomouc vs. Hradec Králové
                      </div>
                    </li>
                  </ul>
                  <h1>
                    <a href="#"
                      >Neskutečná divočina a velký obrat Hradce! Kladno porazil
                      8:7</a
                    >
                  </h1>
                </div>
              </div>
            </div>
          </div>

          <div class="d-none d-lg-block col-lg-5 col-xl-4">
            <div class="h-100 topstory__article-box">
              <div class="topstory__article on" data-topstory="1">
                <div class="topstory__article-row">
                  <div class="topstory__article-img">
                    <img
                      src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17082856210344-173-img-8561.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <h2>
                    <a title="" href="#"
                      >Generálka před extraligou! Na Hanou zavítá Hradec
                      Králové</a
                    >
                  </h2>
                </div>
              </div>
              <div class="topstory__article" data-topstory="2">
                <div class="topstory__article-row">
                  <div class="topstory__article-img">
                    <img
                      src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <h2>
                    <a title="" href="#"
                      >Program mládeže pro nadcházející dny</a
                    >
                  </h2>
                </div>
              </div>
              <div class="topstory__article" data-topstory="3">
                <div class="topstory__article-row">
                  <div class="topstory__article-img">
                    <img
                      src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080781394683-173-dsc04393.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <h2>
                    <a title="" href="#"
                      >VIDEO: Aleš Jergl o velkolepém obratu</a
                    >
                  </h2>
                </div>
              </div>
              <div class="topstory__article" data-topstory="4">
                <div class="topstory__article-row">
                  <div class="topstory__article-img">
                    <img
                      src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <h2>
                    <a
                      title=""
                      href="zapas.asp?id=Neskutecna-divocina-a-velky-obrat-Hradce-Kladno-porazil-8-7-8299"
                      >Vyrovnaný zápas se rozsekl 21 sekund před koncem.
                      Vítězství braly Vítkovice</a
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="topstory__articles-mobile">
    <a href="#" class="article-list__item">
      <img
        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17082856210344-173-img-8561.jpg"
        loading="lazy"
        alt=""
      />
      <div class="container">
        <div class="article-list__box">
          <div class="article-list__content">
            <ul class="article-list__tags">
              <li>
                <div class="tag">2. 9. 2021</div>
              </li>
              <li>
                <div class="tag tag--primary">Olomouc vs. Hradec Králové</div>
              </li>
            </ul>
            <div class="article-list__text">
              René Piegl po návratu domů: Jsem strašně rád za zápas
            </div>
          </div>
        </div>
      </div>
    </a>

    <a href="#" class="article-list__item">
      <img
        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
        loading="lazy"
        alt=""
      />
      <div class="container">
        <div class="article-list__box">
          <div class="article-list__content">
            <ul class="article-list__tags">
              <li>
                <div class="tag">2. 9. 2021</div>
              </li>
              <li>
                <div class="tag tag--primary">Olomouc vs. Hradec Králové</div>
              </li>
            </ul>
            <div class="article-list__text">
              René Piegl po návratu domů: Jsem strašně rád za zápas
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="article-list__item">
      <img
        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080781394683-173-dsc04393.jpg"
        loading="lazy"
        alt=""
      />
      <div class="container">
        <div class="article-list__box">
          <div class="article-list__content">
            <ul class="article-list__tags">
              <li>
                <div class="tag">2. 9. 2021</div>
              </li>
              <li>
                <div class="tag tag--primary">Olomouc vs. Hradec Králové</div>
              </li>
            </ul>
            <div class="article-list__text">
              René Piegl po návratu domů: Jsem strašně rád za zápas
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="article-list__item">
      <img
        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
        loading="lazy"
        alt=""
      />
      <div class="container">
        <div class="article-list__box">
          <div class="article-list__content">
            <ul class="article-list__tags">
              <li>
                <div class="tag">2. 9. 2021</div>
              </li>
              <li>
                <div class="tag tag--primary">Olomouc vs. Hradec Králové</div>
              </li>
            </ul>
            <div class="article-list__text">
              René Piegl po návratu domů: Jsem strašně rád za zápas
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
