<section class="c-topstory-section">
  <div class="topstory" id="topstory">
    <a href="#" class="topstory__item">
      <img src="images/content/1.jpeg" loading="lazy" alt="" />
      <div class="topstory__box">
        <div class="topstory__content">
          <ul class="topstory__tags">
            <li>
              <div class="tag">18 : 00</div>
            </li>
            <li>
              <div class="tag">2. 9. 2021</div>
            </li>
            <li>
              <div class="tag tag--primary">Olomouc vs. Hradec Králové</div>
            </li>
          </ul>
          <h1 class="topstory__title">
            René Piegl po návratu domů: Jsem strašně rád za zápas
          </h1>
          <div class="fw-medium mt-2 p1 text-light">Author článku</div>
        </div>
      </div>
    </a>
    <a href="#" class="topstory__item">
      <img
        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
        loading="lazy"
        alt=""
      />
      <div class="topstory__box">
        <div class="topstory__content">
          <ul class="topstory__tags">
            <li>
              <div class="tag">18 : 00</div>
            </li>
            <li>
              <div class="tag">2. 9. 2021</div>
            </li>
            <li>
              <div class="tag tag--primary">Olomouc vs. Hradec Králové</div>
            </li>
          </ul>
          <h1 class="topstory__title">
            René Piegl po návratu domů: Jsem strašně rád za zápas strašně rád za
            zápas
          </h1>
          <div class="fw-medium mt-2 p1 text-light">Author článku</div>
        </div>
      </div>
    </a>
    <a href="#" class="topstory__item">
      <img
        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
        loading="lazy"
        alt=""
      />
      <div class="topstory__box">
        <div class="topstory__content">
          <ul class="topstory__tags">
            <li>
              <div class="tag">18 : 00</div>
            </li>
            <li>
              <div class="tag">2. 9. 2021</div>
            </li>
            <li>
              <div class="tag tag--primary">Olomouc vs. Hradec Králové</div>
            </li>
          </ul>
          <h1 class="topstory__title">René Piegl po návratu</h1>
          <div class="fw-medium mt-2 p1 text-light">Author článku</div>
        </div>
      </div>
    </a>
    <a href="#" class="topstory__item">
      <img
        src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080781394683-173-dsc04393.jpg"
        loading="lazy"
        alt=""
      />
      <div class="topstory__box">
        <div class="topstory__content">
          <ul class="topstory__tags">
            <li>
              <div class="tag">18 : 00</div>
            </li>
            <li>
              <div class="tag">2. 9. 2021</div>
            </li>
            <li>
              <div class="tag tag--primary">Olomouc vs. Hradec Králové</div>
            </li>
          </ul>
          <h1 class="topstory__title">
            René Piegl po návratu domů: Jsem strašně rád za zápas po návratu
            domů: Jsem strašně rád za zápas
          </h1>
          <div class="fw-medium mt-2 p1 text-light text-shadow">
            Author článku
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
<div class="topstoryNews">
  <div class="container">
    <div class="topstoryNews__inner">
      <div class="topstoryNews__title">rychlé novinky</div>
      <div class="topstoryNews__slider">
        <p class="topstoryNews__item">
          René Piegl po návratu domů: Jsem strašně rád za zápas strašně rád za
          zápas
        </p>
        <p class="topstoryNews__item">
          René Piegl po návratu domů: Jsem strašně rád za zápas strašně rád za
          zápas
        </p>
        <p class="topstoryNews__item">
          René Piegl po návratu domů: Jsem strašně rád za zápas strašně rád za
          zápas René Piegl po návratu domů: Jsem strašně rád za zápas strašně
          rád za zápas
        </p>
        <p class="topstoryNews__item">
          René Piegl po návratu domů: Jsem strašně rád za zápas strašně rád za
          zápas em strašně rád za zápas strašně rád za zápas
        </p>
        <p class="topstoryNews__item">
          René Piegl po návratu domů: Jsem strašně rád za zápas strašně rád za
          zápas
        </p>
      </div>
    </div>
  </div>
</div>
