<section class="gallery-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="gallery-section__inner">
          <h1 class="h1 mb-4">Fotogalerie</h1>
          <div class="header-section">
            <form
              action="/article/"
              method="get"
              class="header-section__form header-section__label"
            >
              <div class="row gy-3 align-items-end">
                <div class="col-md-5">
                  <div class="header-section__category">Vyhledávání</div>
                  <div class="header-section__input">
                    <input
                      type="text"
                      name="search"
                      placeholder="Hledaný text"
                    />
                    <button type="submit" class="header-section__btn">
                      <img
                        src="images/ico/search-menu.svg"
                        loading="lazy"
                        alt="search-menu"
                      />
                    </button>
                  </div>
                </div>
                <div class="col-md-3 col-sm-5">
                  <div class="o-select header-section__label">
                    <div class="header-section__category">Kategorie</div>
                    <select name="category" class="js-select">
                      <option value="">Kategorie</option>
                      <option value="aktualni-zpravy">Aktuální zprávy</option>
                      <option value="rozhovory">Rozhovory</option>
                      <!-- další options -->
                    </select>
                  </div>
                </div>
                <div class="col-md-2 col-sm-4">
                  <div class="o-select header-section__label">
                    <div class="header-section__category">Měsíc</div>
                    <select name="month" class="js-select">
                      <option value="">Měsíc</option>
                      <option value="1">leden</option>
                      <option value="2">únor</option>
                      <!-- další options -->
                    </select>
                  </div>
                </div>
                <div class="col-md-2 col-sm-3">
                  <button class="header-section__form-btn" type="submit">
                    Hledat
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="row gy-4 mb-lg-4 mb-2">
            <div class="col-xl-4 col-md-6">
              <a
                data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                data-gallery-id="3"
                href="#"
                class="boardGallery__item"
              >
                <img
                  src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
                  loading="lazy"
                  alt=""
                />
                <div class="boardGallery__box">
                  <div class="boardGallery__content">
                    <h3 class="boardGallery__title">
                      René Piegl po návratu domů: Jsem strašně rád za zápas
                      strašně rád za zápas
                    </h3>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-md-6">
              <a
                data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                data-gallery-id="2"
                href="#"
                class="boardGallery__item"
              >
                <img
                  src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17082856210344-173-img-8561.jpg"
                  loading="lazy"
                  alt=""
                />
                <div class="boardGallery__box">
                  <div class="boardGallery__content">
                    <h3 class="boardGallery__title">
                      René Piegl po návratu domů: Jsem strašně rád za zápas
                    </h3>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-md-6">
              <a
                data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                data-gallery-id="1"
                href="#"
                class="boardGallery__item"
              >
                <img
                  src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
                  loading="lazy"
                  alt=""
                />
                <div class="boardGallery__box">
                  <div class="boardGallery__content">
                    <h3 class="boardGallery__title">René Piegl po návratu</h3>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-md-6">
              <a
                data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                data-gallery-id="5"
                href="#"
                class="boardGallery__item"
              >
                <img
                  src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080781394683-173-dsc04393.jpg"
                  loading="lazy"
                  alt=""
                />
                <div class="boardGallery__box">
                  <div class="boardGallery__content">
                    <h3 class="boardGallery__title">
                      René Piegl po návratu domů: Jsem strašně rád za zápas po
                      návratu domů: Jsem strašně rád za zápas
                    </h3>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-md-6">
              <a
                data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                data-gallery-id="3"
                href="#"
                class="boardGallery__item"
              >
                <img
                  src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080954818168-173-img-8542-cr.jpg"
                  loading="lazy"
                  alt=""
                />
                <div class="boardGallery__box">
                  <div class="boardGallery__content">
                    <h3 class="boardGallery__title">
                      René Piegl po návratu domů: Jsem strašně rád za zápas
                      strašně rád za zápas
                    </h3>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-md-6">
              <a
                data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                data-gallery-id="2"
                href="#"
                class="boardGallery__item"
              >
                <img
                  src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17082856210344-173-img-8561.jpg"
                  loading="lazy"
                  alt=""
                />
                <div class="boardGallery__box">
                  <div class="boardGallery__content">
                    <h3 class="boardGallery__title">
                      René Piegl po návratu domů: Jsem strašně rád za zápas
                    </h3>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-md-6">
              <a
                data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                data-gallery-id="1"
                href="#"
                class="boardGallery__item"
              >
                <img
                  src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17079858630827-173-image-123650291.jpg"
                  loading="lazy"
                  alt=""
                />
                <div class="boardGallery__box">
                  <div class="boardGallery__content">
                    <h3 class="boardGallery__title">René Piegl po návratu</h3>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-md-6">
              <a
                data-source="/jihocesky_fotbal/build/ajax-gallery.json"
                data-gallery-id="5"
                href="#"
                class="boardGallery__item"
              >
                <img
                  src="https://www.jihoceskyfotbal.cz/files/drbna/images/page/size5-17080781394683-173-dsc04393.jpg"
                  loading="lazy"
                  alt=""
                />
                <div class="boardGallery__box">
                  <div class="boardGallery__content">
                    <h3 class="boardGallery__title">
                      René Piegl po návratu domů: Jsem strašně rád za zápas po
                      návratu domů: Jsem strašně rád za zápas
                    </h3>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <nav aria-label="Další stránky">
            <ul
              class="pagination d-flex flex-wrap pagination-flat pagination-success"
            >
              <li class="page-item active">
                <a class="page-link" href="#" data-abc="true">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true"> »</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
